.input_radio_button[type="radio"]{
    display: none;
}

.radio_item_label{
    display: block;
    cursor: pointer;
    font-weight: 200;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}

.span_radio {
    display: inline-flex;
    align-items: left;
    padding: 2px 2px 2px 2px;
    border-radius: 31px;
    transition: .25s ease;
}

.span_radio:hover,
.input_radio_button[type="radio"]:checked + span{
    background-color: #E9F1F7;
}

.span_radio:before{
    content: "";
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    transition: .25s ease;
    box-shadow:  inset 0 0 0 2px grey;
}

.input_radio_button[type="radio"]:checked + span:before{
    box-shadow: inset 0 0 0 10px #3AABFF;
}